@model InventoryManagement.Models.EmployeeWareHouse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@*<a asp-area="" asp-route-id="@Model.Id" asp-controller="EmployeeWareHouseDetail" asp-action="Create">Create Sale Order Detail</a>*@
<div>
    <h4>Sale Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmployeeAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeAddress)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse.WarehouseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.WarehouseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.PhoneNumber)
        </dd>

        @*<dt class="col-sm-2">
            Sale Order Detail
        </dt>
        <dd class="col-sm-10">
            <a asp-route-id="@Model.Id" asp-area="" asp-controller="EmployeeWareHouseDetail" asp-action="Detail">Click To View</a>
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
